body {
	background: url('assets/Coding-Challenge-Image-min.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
}

.landing {
	padding: 0px;
}

.landing__content {
	background-color: #611818;
	height: 100vh;
}
