body {
	background: url('assets/Coding-Challenge-Image-min.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
	background-color: #2a2a2a;
}

.landing {
	padding: 0px;
}

.landing__content {
	background-color: #611818;
	height: 100vh;
}

.landing__content--container {
	margin: 10vw 0 0 9.5vw;
}

.landing__content--container h1,
.landing__content--container p {
	color: white;
	margin: 0;
}

.landing__content--container h1 {
	opacity: 1;
	transition: opacity 500ms linear;
	animation: slideInRight 0.5s forwards;
	font-size: 20vw;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.js-fadeToggle {
	opacity: 0 !important;
	transition: opacity 250ms linear !important;
}

.landing__content--container p {
	cursor: pointer;
}

.details__container {
	margin: -1vw 0 0 0;
	width: fit-content;
	opacity: 1;
	transition: opacity 500ms;
	animation: slideInUp 1s forwards;
}

.details__container span {
	margin-left: 1vw;
}

.details__container {
	font-size: 5.25vw;
}

.details__container--box {
	background-color: #fff;
	height: 60vh;
	width: 80vw;
	position: absolute;
	visibility: hidden;
	transform: scale(0, 0);
}

.js-expand {
	visibility: visible;
	transition: transform 0.25s ease-in;
	transform: scale(1, 1);
	transform-origin: bottom left;
}

.js-collapse {
	visibility: visible;
	transition: transform 0.25s ease-in;
	transform: scale(0, 0);
	transform-origin: bottom left;
}

@keyframes slideInRight {
	0% {
		transform: translateX(-20%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInUp {
	0% {
		transform: translateY(200px);
	}
	100% {
		opacity: 1;
	}
}

/* ////////////////////////// Media Queries ///////////////////////////  */

@media (min-width: 575px) {
	.details__container {
		margin: -4vw 0 0 0;
		font-size: 3vw;
	}

	.details__container img {
		height: 3.5vw;
	}

	.details__container--box {
		margin: -4vw 0 0 5vw;
		width: 50vw;
		height: 50vh;
	}
}

@media (min-width: 768px) {
	.details__container {
		margin: -4vw 0 0 5vw;
		font-size: 2.25vw;
	}

	.details__container img {
		height: 2.5vw;
	}
}

@media (min-width: 1025px) {
	.details__container {
		font-size: 1.75vw;
	}

	.details__container--box {
		width: 37vw;
		height: 60vh;
	}
}

@media (min-width: 1366px) {
	.details__container img {
		height: 2vw;
	}

	.details__container {
		font-size: 1.5vw;
	}
}
