body {
	background: url('assets/Coding-Challenge-Image-min.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
	background-color: #2a2a2a;
}

.landing {
	padding: 0px;
}

.landing__content {
	background-color: #611818;
	height: 100vh;
}

.landing__content--container {
	margin: 10vw 0 0 9.5vw;
}

.landing__content--container h1 {
	margin: 0;
	color: #fff;
	opacity: 1;
	transition: opacity 500ms linear;
	animation: slideInRight 0.5s forwards;
	font-size: 20vw;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.js-fadeToggle {
	opacity: 0 !important;
	transition: opacity 250ms linear !important;
}

#expand {
	cursor: pointer;
	color: #fff;
}

#expand img:active {
	transform: scale(0.85);
}

.details__container {
	margin: -1vw 0 0 0;
	width: fit-content;
	opacity: 1;
	transition: opacity 500ms;
	animation: slideInUp 1s forwards;
}

.details__container span {
	margin-left: 1vw;
}

.details__container {
	font-size: 5.25vw;
}

.details__container--box {
	background-color: #fff;
	height: auto;
	max-height: 75vh;
	width: 80vw;
	position: absolute;
	visibility: hidden;
	transform: scale(0, 0);
	padding: 1% 2% 2% 2%;
	overflow-y: scroll;
	bottom: 15vh;
	box-shadow: rgba(0, 0, 0, 0.6) -1px 2px 19px;
}

.details__box--svg {
	height: 1.5rem;
	cursor: pointer;
}

.details__box--svg:active {
	transform: scale(0.85);
}

.details__container--box h2 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 8vw;
	color: #611818;
	margin-bottom: 0;
}

.details__container--box hr {
	background: linear-gradient(to right, #611818, #fff);
	height: 3px !important;
	opacity: 1;
	width: 55%;
	margin: 0.75rem 0 1rem 0;
}

.details__container--box p {
	color: #2a2a2a;
	font-size: 0.8rem;
	margin-bottom: 2rem;
}

.details__container--box button {
	color: #fff;
	border: 1px solid #a09393;
	border-radius: 0;
	background: linear-gradient(to right, #611818, #a16856);
	text-transform: uppercase;
	padding: 10px 50px;
}

.details__container--box button:hover {
	color: #fff;
}

footer {
	position: fixed;
	z-index: 1000;
	right: 20px;
	bottom: 0px;
}

footer ul {
	list-style: none;
}

footer img {
	height: 30px;
	width: 30px;
	margin: 15px 0 0 15px;
}

.js-expand {
	visibility: visible;
	transition: transform 0.25s ease-in;
	transform: scale(1, 1);
	transform-origin: bottom left;
}

.js-collapse {
	visibility: visible;
	transition: transform 0.25s ease-in;
	transform: scale(0, 0);
	transform-origin: bottom left;
}

@keyframes slideInRight {
	0% {
		transform: translateX(-20%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInUp {
	0% {
		transform: translateY(200px);
	}
	100% {
		opacity: 1;
	}
}

/* ////////////////////////// Media Queries ///////////////////////////  */

@media (min-width: 575px) {
	.details__container {
		margin: -4vw 0 0 0;
		font-size: 3vw;
	}

	.details__container img {
		height: 3.5vw;
	}

	.details__container--box {
		margin: -4vw 0 0 5vw;
		width: 50vw;
		max-height: 60vh;
		bottom: unset;
	}

	footer img {
		height: 60px;
		width: 60px;
	}
}

@media (min-width: 768px) {
	.details__container {
		margin: -4vw 0 0 5vw;
		font-size: 2.25vw;
		max-height: 50vh;
	}

	.details__container img {
		height: 2.5vw;
	}

	.details__container--box h2 {
		font-size: 4vw;
	}
}

@media (min-width: 1025px) {
	.details__container {
		font-size: 1.75vw;
	}

	.details__container--box {
		width: 37vw;
		max-height: 65vh;
	}
}

@media (min-width: 1366px) {
	.details__container img {
		height: 2vw;
	}

	.details__container {
		font-size: 1.5vw;
	}

	.details__container--box {
		height: 60vh;
	}
}
